@font-face {
  font-family: "Asul_21.0.0_google";
  src: url("../../../fonts/Asul-Bold_21.0.0_google.ttf");
  font-weight: 700; 
}
@font-face {
  font-family: "Bauhaus 93_1.53.0_system";
  src: url("../../../fonts/Bauhaus 93-Regular_1.53.0_system.ttf");
  font-weight: 400; 
}